body {
    font-family: Arial, sans-serif;
    padding: 0 10%;
    background-color: #f9f9f9;
    backdrop-filter: blur(10px);
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 30px;
}

h2 {
    color: #FFA500;  /* Orange */
}

p {
    color: #555;
}

form, div {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 2px 4px -1px rgba(0, 0, 0, 0.06);
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    transition: border-color 0.3s, box-shadow 0.3s;
}

input[type="text"]:focus {
    border-color: #FFA500;  /* Orange */
    box-shadow: 0px 0px 5px #FFA500;  /* Orange */
}

button {
    padding: 10px 20px;
    background-color: rgba(255, 165, 0, 0.7);  /* Orange transparent */
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-right: 10px;
    box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 2px 4px -1px rgba(0, 0, 0, 0.06);
    transition: background-color 0.3s;
}

button:hover {
    background-color: rgba(255, 140, 0, 0.8);  /* Orange foncé transparent */
}

.button-container {
    display: flex;
    justify-content: start;
    gap: 10px;
}
