body {
    font-family: Arial, sans-serif;
    padding: 0 10%;
    background-color: #f9f9f9;
    backdrop-filter: blur(10px); /* Pour ajouter un léger flou à l'arrière-plan */
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 30px;
}

form, div {
    background-color: rgba(255, 255, 255, 0.1); /* Transparence */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 15px; /* Coins plus arrondis */
    backdrop-filter: blur(10px); /* Flou pour l'effet de verre */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Bordure légèrement lumineuse */
    box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 2px 4px -1px rgba(0, 0, 0, 0.06); /* Ombres douces */
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.1); /* Transparence */
    backdrop-filter: blur(10px); /* Flou */
    transition: all 0.3s; /* Transition douce lors de la mise au point */
}

input[type="text"]:focus {
    border: 1px solid #007bff; /* Changement de couleur lors de la mise au point */
    box-shadow: 0px 0px 5px #007bff; /* Lueur lors de la mise au point */
}

button {
    padding: 10px 20px;
    background-color: rgba(0, 123, 255, 0.7); /* Légèrement transparent */
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-right: 10px;
    box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 2px 4px -1px rgba(0, 0, 0, 0.06); /* Ombres douces */
    transition: all 0.3s; /* Transition douce lors du survol */
}

button:hover {
    background-color: rgba(0, 86, 179, 0.8); /* Légèrement transparent */
}

.button-container {
    display: flex;
    justify-content: start;
    gap: 10px;
}

h2 {
    color: #007bff;
}

p {
    color: #555;
}
