/* -----------------
   Global Styles
----------------- */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Segoe UI est la police standard de Microsoft */
    padding: 0 10%;
    background: linear-gradient(to bottom right, #e1e1e1, #f5f5f5); /* Arrière-plan doux */
    transition: background-color 0.3s ease;
}

h1 {
    color: #1f1f1f; /* Noir doux pour le texte */
    text-align: center;
    margin-bottom: 30px;
}

h2 {
    color: #1f1f1f;
    padding: 5px 10px;
    margin-bottom: 15px;
    background-color: rgba(245, 245, 245, 0.9); /* Couleur de fond légèrement différente */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  /* Ombre douce */
}

p {
    color: #555;
    margin-bottom: 10px;
    padding: 5px;
    border-bottom: 2px solid rgba(0,0,0,0.05); /* Bordure subtile en bas */
}

button, select {
    border: none;
    padding: 10px 15px;
    border-radius: 8px; /* Bords légèrement arrondis, typique du design Microsoft */
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
}

button {
    background-color: #0078D4; /* Couleur typique de Microsoft */
    color: white;
}

button:hover {
    background-color: #005fa1;
    transform: translateY(-2px); /* Un léger "lift" au survol pour une interaction tactile */
}

input[type="text"], select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #e1e1e1; /* Bordure subtile */
    box-sizing: border-box;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.9); /* Fond légèrement transparent */
    backdrop-filter: blur(4px); /* Flou léger, moins prononcé que le Glassmorphism typique */
}
/* -----------------
   Form Box Style
----------------- */

.form-box {
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    backdrop-filter: blur(6px);
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre douce */
    transition: transform 0.3s ease;
    margin-bottom: 30px;
}

.form-box h2 {
    color: #1f1f1f;
    padding: 5px 10px;
    margin-bottom: 20px;
    background-color: rgba(230, 230, 230, 0.9); /* Couleur de fond légèrement différente de celle du h2 d'erreur */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  /* Ombre douce */
}

.form-box:hover {
    transform: translateY(-5px);
}

.form-box button {
    width: 100%;  /* Fait occuper tout l'espace disponible par le bouton */
    margin-top: 20px;  /* Ajoute un espace en haut du bouton */
}


/* -----------------
   Error Box Style
----------------- */

.error-box {
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    backdrop-filter: blur(6px);
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre douce */
    transition: transform 0.3s ease;
}

.error-box:hover {
    transform: translateY(-5px);
}

.error-box h2, .error-box p {
    margin-left: 10px;  /* Ajoute un léger décalage pour une meilleure hiérarchie visuelle */
    margin-right: 10px;
}

/* -----------------
   Button Container
----------------- */

.button-container {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

/* -----------------
   Pagination Styles
----------------- */

.pagination {
    display: flex;
    gap: 10px;
}

.pagination a {
    padding: 5px 10px;
    background-color: #0078D4;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.2s;
}

.pagination a:hover {
    background-color: #005fa1;
    transform: translateY(-2px);
}
